<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | {{ site.uistring.title }}</title>
    <meta name="description" content="{{ site.uistring.description }}">
    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/{{ site.favicon }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
</head>
<body>
    {% include topnav.html %}
    <div class="container-fluid">
        <div class="row">
            {% include sidebar.html %}
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="main-content">
                {% if site.breadcrumb_display %}
                {% include breadcrumb.html %}
                {% endif %}

                <h1 class="page-title">{{ page.title }}</h1>

                {{ content }}
            </div>
        </div>
    </div>
    {% include footer.html %}
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/main.js"></script>
</body>
</html>