p.Back-cover_ArticleTitle {
	-epub-hyphens:none;
	color:#000000;
	font-family:"ITC New Baskerville Std", serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25;
	margin-bottom:4px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.Back-cover_Back-Economic-Perspectives {
	color:#000000;
	font-family:"ITC New Baskerville Std", serif;
	font-size:2.104em;
	font-style:italic;
	font-variant:normal;
	font-weight:bold;
	line-height:1.069;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.Back-cover_Back-The-Journal-of {
	color:#000000;
	font-family:"ITC New Baskerville Std", serif;
	font-size:1.083em;
	font-style:italic;
	font-variant:normal;
	font-weight:bold;
	line-height:0.923;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.Back-cover_Back-season-year-vol-number {
	color:#000000;
	font-family:"Times LT Std", serif;
	font-size:1.177em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:3.681;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.Back-cover_Heading-back {
	color:#000000;
	font-family:"ITC New Baskerville Std", serif;
	font-size:1.167em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:5px;
	margin-left:0;
	margin-right:0;
	margin-top:5px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
p.Back-cover_TopicHead {
	color:#000000;
	font-family:"ITC New Baskerville Std", serif;
	font-size:1em;
	font-style:italic;
	font-variant:normal;
	font-weight:bold;
	line-height:1.083;
	margin-bottom:5px;
	margin-left:0;
	margin-right:0;
	margin-top:3px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
span.AUTHOR-BOLD {
	font-family:"ITC New Baskerville Std", serif;
	font-size:0.808em;
	font-style:normal;
	font-weight:bold;
}
span._idGenCharOverride-1 {
	font-size:0.97em;
}
#_idContainer070 {
	height:100.00%;
	left:-0.01%;
	position:absolute;
	top:-0.17%;
	width:206.67%;
	z-index:0;
}
#_idContainer071 {
	display:inline-block;
	overflow:hidden;
	padding:140.19% 0% 0% 0%;
	position:relative;
	width:100.00%;
}
#_idContainer072 {
	height:100.00%;
	left:0%;
	position:absolute;
	top:0%;
	width:100.00%;
	z-index:0;
}
#_idContainer073 {
	display:inline-block;
	overflow:hidden;
	padding:133.95% 0% 0% 0%;
	position:relative;
	width:91.71%;
}
#_idContainer074 {
	height:100.00%;
	left:0%;
	overflow:hidden;
	position:absolute;
	top:0%;
	width:100.00%;
	z-index:0;
}
#_idContainer075 {
	display:inline-block;
	overflow:hidden;
	padding:123.87% 0% 0% 0%;
	position:relative;
	width:81.64%;
}
#_idContainer077, #_idContainer079 {
	display:inline-block;
	position:relative;
	width:72.11%;
}
#_idContainer081 {
	display:inline-block;
	width:9.87%;
}
#_idContainer082, #_idContainer084 {
	display:inline-block;
	padding:1.35% 0% 0% 0%;
	position:relative;
	width:0.96%;
}
#_idContainer083 {
	display:inline-block;
	position:relative;
	width:0.00%;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	border-width:1px;
}
div._idGenObjectStyleOverride-3 {
	background-color:#000000;
	border-width:0px;
}
div._idGenObjectLayout-1 {
	margin:16px auto 16px auto;
	text-align:center;
}
